@import 'daisyui/dist/full.css';

.title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.drawer-overlay{
  /* transparent */
  background-color: rgba(0, 0, 0, 0) !important;
}

.subHeading{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.table-zebra{
  width: 25%;
  /* set font size as per the screen size */
  font-size: 0.9vw; 
  text-align: center;
  justify-content: center;
  padding: 0px;
}